* text=lf

*.gif binary
*.png binary
*.sqlite3 binary

*.html text eol=lf
*.css text eol=lf
*.dtd text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.plist text eol=lf
*.properties text eol=lf
*.rb text eol=lf
*.resw text eol=lf
*.strings text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yml text eol=lf
