# Build for Ruby
language: ruby
cache:
  bundler: true
  directories:
    - tmp/cache/codeclimate

os:
  - linux
  - osx

# Specify which ruby versions you wish to run your tests on,
# each version will be used.
rvm:
  - 2.2
  - 2.3
  - 2.4
#  - jruby     # Unknown ruby string (do not know how to handle)
#  - ruby-head # cannot load such file -- bundler/dep_proxy (?)
#  - 1.9       # incompatible with activesupport 5
#  - 2.1       # incompatible with activesupport 5

env:
  global:
    - CC_TEST_REPORTER_ID=3c907b2e0a343abfe219925db045ff59f2088392a11cd324554dc11a4d8ca025
    - CI=1

before_script:
  - bin/travis before

# Define how to run your tests (defaults to `bundle exec rake` or `rake` depending on whether you have a `Gemfile`)
script: "bundle exec rspec"

after_script:
  - bin/travis after
